/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

:root {
  --primary: #416d19;
  --secondary: #9bcf53;
  --tertiory: #bfea7c;
}
header {
  padding: 20px 30px;

  background-color: var(--secondary);
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  border-bottom: 1px solid white;
  width: 100%;
}

.logo {
  font-size: 20px;
  width: 80px;
  border-radius: 70%;
}
.title {
  color: white;
  font-size: 30px;
}

.searchBar {
  position: relative;
  width: 100%;
  /* border: 1px solid; */
  padding-top: 10px;
}
.searchBar input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.searchBar input:focus {
  border-color: white;
}

.searchIcon {
  position: absolute;
  right: 0px;
  top: 10px;
  border: 1px solid;
  padding: 10px 18px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.userIcon {
  position: relative;
  font-size: 25px;
  margin-top: 5px;
  display: flex;
  height: fit-content;
  gap: 10px;
  color: var(--primary);
}
.userIcon i {
  color: white;
}
.dashbord {
  padding: 10px;
  position: absolute;
  background-color: var(--primary);
  top: 30px;
  right: 0px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  /* padding: 5px; */
  color: white;
}

/* Login  page start */
.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiory);
}
.login-main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 450px;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  background-color: var(--secondary);
  border-radius: 20px;
}
.login-main_wrapper p {
  font-size: 20px;
}
.login-main_wrapper input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.login-main_wrapper button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
/* Login page end */

/* MAin Wrapper start */
.main-wrapper {
  height: 100%;
  padding: 10px;
}
.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.product {
  width: 300px;
  height: 350px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding-bottom: 25px;
}

.product img {
  width: 100%;
  height: 70%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.product_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 5px;
  font-size: 20px;
  height: 30%;
}
.product_name {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product button {
  padding: 8px 5px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Dashboard */

.dash-head {
  /* border: 1px solid; */
  margin: 10px 20px;
  /* margin-bottom: 0px; */
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  color: white;
  /* border-radius: 10px; */
  background-color: var(--secondary);
}
.dash-head span {
  margin-right: 30px;
}
.dash-body {
  /* border: 1px solid; */
  height: 99.9vh;
  display: flex;
}
.dashBoard-Panel {
  border: 1px solid white;
  width: 15%;
  background-color: var(--secondary);
}
.dashBoard-Panel p {
  border-bottom: 1px solid white;
  /* margin-bottom: 10px; */
  color: white;
  font-size: 20px;
  padding: 15px 15px;
}
.dash-content {
  width: 85%;
  /* border: 1px solid; */
}

/* AddProduct  start*/
.AddProducts {
  display: flex;
  height: 60%;
  padding: 10px;
}
.AddProducts input {
  padding: 10px;
  border: 1px solid var(--primary);
}
.AddProducts select {
  padding: 10px;
}
.AddProducts option {
  border: 1px solid;
  padding: 10px;
}
.add-product-form {
  /* border: 1px solid; */
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 35px;
  padding: 10px;
  padding-bottom: 15px;
  height: fit-content;
}
.add-category-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 10px;
  width: 50%;
}
.add-title {
  text-align: center;
  padding: 10px;
  background-color: var(--secondary);
  color: white;
}
.submit-btn {
  border: none;
  padding: 10px;
  width: 50%;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.existing-Category {
  border: 1px solid;
  padding: 10px;
  height: 300px;
  height: fit-content;
}
.existing-Category p {
  border-bottom: 1px solid;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.existing-Category i {
  color: red;
}
h3 {
  text-align: center;
  border: 1px solid;
  margin-bottom: 10px;
  padding: 8px;
  background-color: var(--secondary);
  color: white;
}
@media (max-width: 486px) {
  header {
    padding: 20px 10px;
  }
  .logo {
    width: 60px;
  }
  .title {
    display: none;
  }
  .userIcon {
    font-size: 20px;
  }

  /* login */
  .login-main_wrapper {
    width: 350px;
    height: 300px;
  }
}
